.container > *,
.container-fluid > * {
  border: 1px solid #cd99ec;
  background: #e7c6fb; }

.bold {
  font-weight: bold; }

.normal {
  font-weight: normal; }

@media (min-width: 576px) {
  .sm-bold {
    font-weight: bold; }
  .sm-normal {
    font-weight: normal; } }

@media (min-width: 768px) {
  .md-bold {
    font-weight: bold; }
  .md-normal {
    font-weight: normal; } }

@media (min-width: 992px) {
  .lg-bold {
    font-weight: bold; }
  .lg-normal {
    font-weight: normal; } }

@media (min-width: 1200px) {
  .xl-bold {
    font-weight: bold; }
  .xl-normal {
    font-weight: normal; } }

table, td, th {
  border: 1px solid #888;
  border-collapse: collapse; }
